= form.inputs 'Personal Information' do
  = form.input :name, :label => 'First name', :hint => 'Your real first name', :input_html => {:size => 25}
  = form.input :age, :input_html => {:size => 8}
  = form.input :time_zone, :selected => "Central Time (US & Canada)"
  = form.inputs :name => 'Play times', :class => 'playtimes' do
    %p.inline-hints List the hours you can normally play each day of the week. Mal'Ganis is a Central Standard Time (CST) server.
    - %w(sunday monday tuesday wednesday thursday friday saturday).each do |day|
      .playtimes
        = form.input "start_#{day}", :as => :string, :label => '', :required => false, :input_html => {:size => 8}
        %li until
        = form.input "end_#{day}", :as => :string, :label => '', :required => false, :input_html => {:size => 8}
        %li= "CST #{day.titlecase}"
  = form.input :known_members, :label => 'List any current Juggernaut members you know and how you know them', :input_html => {:size => '90x15'}
  = form.input :future_commitments, :label => 'List any current or near future commitments you have that might affect your raid attendance', :input_html => {:size => '90x15'}
  = form.input :reasons_for_joining, :label => 'Why do you want to join Juggernaut?', :input_html => {:size => '90x15'}

= form.inputs 'Character Information' do
  = form.input :server, :label => 'Current server', :required => true, :hint => "Note: US servers only."
  = form.input :character_name, :label => 'Current name', :required => true
  = form.input :character_class, :as => :select, :collection => Applicant::WOW_CLASSES, :label => 'Class', :required => true
  = form.input :character_race, :as => :select, :collection => Applicant::WOW_RACES, :label => 'Current race', :required => true
  = form.input :armory_link, :label => "Provide a link to your character's Armory profile", :required => true, :input_html => {:size => 92}
  = form.input :primary_spec, :label => "What is your primary talent spec?"
  = form.input :secondary_spec, :label => "Describe your experience with your off-specs", :input_html => {:size => '90x15'}
  = form.input :previous_guilds, :label => 'Describe, in detail, your entire guild history across all of your characters, and your reasons for leaving each guild', :input_html => {:size => '90x15'}
  = form.input :pve_experience, :label => 'Describe your previous PvE experience', :input_html => {:size => '90x15'}
  = form.input :pvp_experience, :label => 'Describe your previous PvP experience', :input_html => {:size => '90x15'}
  = form.input :screenshot_link, :label => 'Provide a link to a screenshot of your interface during a raid', :input_html => {:size => 92}

= form.inputs :name => 'Additional Comments' do
  = form.input :comments, :label => 'Add any additional information you think may be pertinent', :input_html => {:size => '90x15'}

= form.buttons :class => 'submit' do
  = form.submit 'Save', :class => 'input_submit'
  or
  = link_to('Cancel', root_path, :class => 'cancel')
