- page_title 'My Applications'
- breadcrumb 'My Applications'
%div.category_block.block_wrap
  = render :partial => 'shared/maintitle', :object => "Applications"
  - @applicants.each do |app|
    %div{ :class => "character_row status_#{app.status}" }
      %div.character_image
        = image_tag(character_icon(app.character_race, app.character_class), :alt => "Icon")
      %div.application_status
        = image_tag("status_#{app.status}.png", :alt => app.status.titlecase)
      %div.application_info
        %div.applicant_name
          %h4= link_to(h(app.character_name), edit_application_path(app))
        = render :partial => "status_#{app.status}", :locals => { :app => app }

%fieldset.submit= link_to('Submit New Application', new_application_path, :class => 'input_submit')
%br.clear